/* 
selector can be an HTML element, it can be costom style - start with . or it can be ID - start with #

selector{
    property1: value;
    property2: value;
}
*/

/* body applies to the whole page */
body{
    background-color: rgb(235, 132, 248);
    color: darkslategrey;
    width: 100%;
}

header{
    text-align: center;
}

/* by default - create a box for the menue */
nav{
    height: 600px;
    width: 200px;
    /* this is why my buttons for home and boards are on the left */
    float: left;
    padding: 5px;
    line-height: 30px;
}

/* add some footer styling */
footer{
    text-align: center;
    margin-right: 200px;
}

#MissPRImage{
    margin-right: 200px;
    width: 600px;
    height: 400px;
}



/* this needs something added for boards to center lines */
/* costom Css file */
/* .leftalign{ 
    text-align: left;
}*/